header {
    margin: auto;
    font-size: 45px;
    align-content: center;
}
nav {
    margin: 15px;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
}
nav a {
    align-self: auto;
}
