header {
    margin: auto;
    font-size: 85px;
    text-align: center;
}
nav {
    margin: 15px;
    border: 3.5px #96755b solid;
    display: flex;
    justify-content: space-between;
}
nav a {
    align-self: auto;
    padding: 75px 25px;
    border: 2px #000000 solid;
    font-size: 40;
}
