header {
    margin: auto;
    font-size: 85px;
    text-align: center;
}
nav {
    margin: 4%;
    border: 3.5px #96755b solid;
    display: flex;
    justify-content: space-between;
}
nav a {
    align-self: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 2px #000000 solid;
    font-size: 40;
}
